
.addTask{
	
	position: relative;
	background-color: #fefefe;

	padding: 0;
	height: auto;
	width: 35vw;
	border: 1px solid #888;
	margin-top: 200px;
	margin-left: 35vw;

	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	border-radius: 10px;

} 
h3,h6{
    margin-left:12vw ;
}

.inputt{
	display: block;
	width: 20vw;
	height: 36px;
	border-width: 0 0 2px 0;
    border: none;
	font-family: Lusitana, serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	background: transparent;
	margin-left: 108px;
	margin-top: 10px;
	box-shadow: none;
	border-bottom: 1.5px solid #333333;
	outline: none;   
		/*xóa mấy cái viền của input  */
	
}
.inputt:hover{
	border-bottom: 1.5px solid #0093E9;
	
}
	

.btn {
	background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Courier New;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-left: 14vw;
    margin-top: 25px;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}