
.addTask{
	
	position: relative;
	background-color: #fefefe;

	padding: 0;
	height: auto;
	width: 35vw;
	border: 1px solid #888;
	margin-top: 150px;
	margin-left: 35vw;

	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	border-radius: 10px;

} 
h3,h6{
    margin-left:12vw ;
}

.inputt{
	display: block;
	width: 20vw;
	height: 36px;
	border-width: 0 0 2px 0;
    border: none;
	font-family: Lusitana, serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	background: transparent;
	margin-left: 108px;
	margin-top: 10px;
	box-shadow: none;
	border-bottom: 1.5px solid #333333;
	outline: none;   
		/*xóa mấy cái viền của input  */
	
}
.inputt:hover{
	border-bottom: 1.5px solid #0093E9;
	
}
	

.btn {
	background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Courier New;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-left: 14vw;
    margin-top: 25px;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	width: 50vw;
	position: relative;
	margin: auto;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	
	
  }
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
.alert_sc{
	padding: 20px;
	background-color: green;
	color: white;
	width: 50vw;
	position: relative;
	margin: auto;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}
.modal_addrfid_sc{
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
.modal_addrfid_err{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
.tb_p{
	font-size: 0.8em;
	color: red;
	display: none;
	margin-left: 8vw;
	font-style: bold;
}